<div class="row">
	<%= render 'shared/sidebar' %>

	<div class="span9">
		<h1>My Recipes</h1>

		<% @recipes = current_user.added_recipes %>

		<ol class="recipes">
			<%= render @recipes %>
		</ol>
	</div>
</div>