<div class="center hero-unit">
	<h1>Welcome to Cook Cards</h1>
	<h2>
		This is the home page for Cook Cards: a simple webapp to keep track of your recipes.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-info" %>

</div>