<% provide(:title, 'About Us') %>


<h1>About Us</h1>
<p>
  Cook Cards ia a webapp designed to bring all your recipes in one place. Finally. 
  <br>
  It is designed and implemented by Tim Scribner, based on the excellent <a href="http://ruby.railstutorial.org">rails tutorial</a> by <a href="http://www.michaelhartl.com">Michael Hartl</a>.
</p>
