<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
  In America, you need help. 
  <a href="http://en.wikipedia.org/wiki/Yakov_Smirnoff#Russian_reversal">In Soviet Russia, </a>
  <a href="http://images4.fanpop.com/image/photos/23600000/In-Soviet-Russia-biggerstaff-family-23697933-1280-1024.png">help </a>
  <a href="http://www.youtube.com/watch?v=g_mMKgc5snc">need </a>
  <a href="http://www.youtube.com/watch?v=WToBWrWkpqk">you!</a>
</p>