<% provide(:title, "All Recipes") %>
<div class="row">
	
	<aside class="span3">
		<%= render 'shared/user_info' %>
	</aside>
</div>
<div class="row">

	<div class="span9 offset3">
		<h1>All Recipes</h1>

		<div class="row"> 
			<%= render 'shared/search_bar', param: params[:search] %>
		</div>

		<ol class="recipes">
			<%= render @recipes %>
		</ol>
		<%= will_paginate %>
	</div>
</div>

