<% provide(:title, "All Recipes") %>
<div class="row">
	
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user, size: 40 %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>
<div class="row">

	<div class="span8 offset4">
      <h1>All Recipes</h1>
      <br>
      <ol class="recipes">
        <%= render @recipes %>
      </ol>
      <%= will_paginate %>
    </div>
</div>