<% provide(:title, "All Recipes") %>


<div class="row">
	
	<%= render 'shared/sidebar' %>

	<div class="span9">
		<h1>All Recipes</h1>

		<div class="row"> 
			<%= render 'shared/search_bar', param: params[:search] %>
		</div>

		<ol class="recipes">
			<%= render @recipes %>
		</ol>
		<%= will_paginate %>
	</div>
</div>

