<% provide(:title, @recipe.title) %>
<div class="row">
	
	<aside class="span3">
		<section>
			<h1>
				<%= gravatar_for @user, size: 40 %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>
<div class="row">
	<div class="span9 offset3">
		<%= render "shared/recipe_card" %>
	</div>
</div>