<% provide(:title, @user.name) %>
<div class="row">
	
	<aside class="span4">
		<%= render 'shared/user_info' %>
	</aside>

	<div class="span8">
		<!-- where rendered microposts used to be -->
	</div>

</div>