<!-- user_info partial -->

<!-- Ensure that one user is selected -->
<% @user ||= current_user %>

<section>
	<h1>
		<a href="<%= user_path(@user) %>">
		<%= gravatar_for @user, size: 40 %>
		</a>
		<%= @user.name %>
	</h1>
</section>
